
*{
	margin: 0;
	padding:0 ;
	font-family: helvetica;

}

header{
	background-color: #000000;
	height: 100px;
	padding: 20px;
	color: #ffff;

}
 nav{width:955px;background-color: #A9A9A9;}
 nav ul {list-style: none;margin: 0;padding: 4px}

#Principal{
	/*background-image: url(torcida.jpg);*/
	text-align: center;
	background-size: 100%;
	min-height: 750px;
	background-color: #FFA500;
}



p{
	color:#DCDCDC;
	font-size: 30px;
	font-family: Arial;
}

footer{
	background-color: #000000;
	text-align: center;
	color:#ffff;
	padding: 10px;
}

#not1{
	min-height: 60px;

	padding: 30px;
}