
/*header{ background-color:#215966;
	height : 100px;

 }*/

 h1{
 	background-color:#215966;
 	font-family: arial black;
 	font-size: 20px;
 	color: #ffffff;
 	height : 130px;

 }

body{
	background-color: #ADD8E6;
}

td{
	color: #708090;
}