header{
	
	background-color: #363636;
	padding: 0px

}

#identidade{
	font-size: 12px;
	text-align: right;
	color: #F8F8FF;
	font-family: arial;
}

#texto{
	color: #D2691E;
	font-family: 'mono'; 
	font-size: 32px;
}
h1{
	color: #D2691E;
	font-family: fantasy ;
	font-size: 45px;
}

body{
	background-color:	#D3D3D3;
}

footer{
	background-color: #D2691E;
	padding: 80px;

}	